.u-section-1 .u-sheet-1 {
  min-height: 947px;
}

.u-section-1 .u-text-1 {
  margin: 147px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 114px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  min-height: 456px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(#2799b1, #d5e76c);
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 80px 42px 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-2 {
  padding: 5px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 80px 42px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 346px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-bottom: 37px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}